<h1>Welcome to AgileSRC!</h1>
<b>

We are excited to have you onboard at AgileSRC. 

The following guide will help you to learn more about the company and get all of the necessary paperwork out of the way quickly. 
Should you have any questions about the process please feel free to reach out to Erik Paul (the designated HR rep for AgileSRC). 
Again, we are glad to have you on the team and look forward to growing together.

Mark Horn
CEO
AgileSRC
    
</b>